@font-face {
  font-family: "Peyda";
  font-weight: normal;
  src: url(../fonts/peyda-light.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: lighter;
  src: url(../fonts/peyda-extralight.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: bold;
  src: url(../fonts/Peyda-Bold.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: bolder;
  src: url(../fonts/Peyda-ExtraBold.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 100;
  src: url(../fonts/Peyda-Black.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 400;
  src: url(../fonts/Peyda-Medium.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 600;
  src: url(../fonts/Peyda-Regular.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: bold;
  src: url(../fonts/Peyda-SemiBold.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 100;
  src: url(../fonts/Peyda-Thin.ttf);
}
body {
  background: #010101;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Peyda";
  font-style: normal;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
  gap: 64px;
  width: 230px;
  right: 0px;
  top: 0px;
  background: rgba(70, 70, 70, 0.2);
  backdrop-filter: blur(10px);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
}
.nav__item {
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 16px 0px 0px;
  gap: 16px;
  height: 32px;
  align-self: stretch;
}
.nav__item:hover {
  cursor: pointer;
}
.nav__desc {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #999999;
}
.nav__icon {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.nav .active, .nav__item:hover {
  border-right: 2px solid #FC8F22;
  border-radius: 1px;
}
.nav .active, .nav__item:hover, .nav__desc:hover, .nav__icon:hover, .nav__item:focus, .nav__desc:focus, .nav__icon:focus {
  filter: brightness(0) saturate(100%) invert(57%) sepia(96%) saturate(956%) hue-rotate(344deg) brightness(101%) contrast(98%);
}
.nav .active path, .nav__item:hover path, .nav__desc:hover path, .nav__icon:hover path, .nav__item:focus path, .nav__desc:focus path, .nav__icon:focus path {
  stroke: #FC8F22 !important;
  fill: #FC8F22 !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
}

.head {
  width: 100%;
  height: 64px;
  margin-left: 120px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head__left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head__right {
  display: flex;
  align-items: center;
}
.head__searchbox {
  background-color: rgba(70, 70, 70, 0.3);
  width: 100%;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
}
.head__searchButton {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.head__searchText {
  color: white;
  text-align: right;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Peyda";
  border: none;
  background-color: transparent;
}
.head__searchFillter {
  border-radius: 30px;
  background-color: rgba(70, 70, 70, 0.3);
  color: #ffffff;
  padding: 5px 15px;
}
.head__line {
  width: 2px;
  height: 24px;
  background-color: #999999;
}
.head__fillterButton {
  width: 24px;
  height: 24px;
}
.head__searchFillterText {
  color: #ffffff;
  margin-left: 20px;
}
.head__profile {
  width: 300px;
  display: flex;
  justify-content: center;
  color: #FC8F22;
  font-family: "Peyda";
  font-weight: 600;
  font-size: 16px;
}
.head__headArrowDown {
  margin-right: 10px;
  margin-top: 8px;
  width: 16px;
  height: 8px;
}

<<<<<<< Updated upstream
.head__searchText:focus {
  border: none;
=======
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.content {
  direction: rtl;
  margin: 0px 3%;
  display: flex;
  flex-direction: column;
  gap: 40px;
>>>>>>> Stashed changes
}

/*# sourceMappingURL=main.css.map */
