@font-face {
  font-family: "Peyda";
  font-weight: normal;
  src: url(../fonts/peyda-light.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: lighter;
  src: url(../fonts/peyda-extralight.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: bold;
  src: url(../fonts/Peyda-Bold.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: bolder;
  src: url(../fonts/Peyda-ExtraBold.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 100;
  src: url(../fonts/Peyda-Black.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 400;
  src: url(../fonts/Peyda-Medium.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 600;
  src: url(../fonts/Peyda-Regular.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: bold;
  src: url(../fonts/Peyda-SemiBold.ttf);
}
@font-face {
  font-family: "Peyda";
  font-weight: 100;
  src: url(../fonts/Peyda-Thin.ttf);
}
body {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #010101;
  box-shadow: -0.670833px 33.5417px 100.625px -3.35417px rgba(0, 0, 0, 0.15);
}
body .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
  gap: 64px;
  position: absolute;
  width: 230px;
  height: 100vh;
  right: 0px;
  top: 0px;
  background: rgba(70, 70, 70, 0.2);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px;
}
body .logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  width: 89.47px;
  height: 77.5px;
  background: #FC8F22;
  border-radius: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
body .logo__elm1 {
  width: 15.93px;
  height: 51.13px;
  background: #FFFFFF;
  border-radius: 17.6665px;
  transform: rotate(-19.92deg);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -12px;
}
body .logo__elm2 {
  width: 15.93px;
  height: 51.13px;
  background: #FFFFFF;
  border-radius: 17.6665px;
  transform: rotate(-19.92deg);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px -12px;
}
body .logo__elm3 {
  width: 15.93px;
  height: 28.5px;
  background: #FFFFFF;
  border-radius: 17.6665px;
  transform: rotate(-19.92deg);
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
body .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 32px;
  width: 181px;
  height: 352px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
body .nav__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 16px 0px 0px;
  gap: 16px;
  width: 181px;
  height: 32px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
body .nav__desc {
  font-family: "Peyda";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  /* identical to box height, or 75% */
  color: #999999;
  text-align: start;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
body .nav .desc_active {
  color: #FC8F22;
}
body .nav__link {
  width: 75px;
  height: 12px;
  font-family: "Peyda";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  /* identical to box height, or 75% */
  color: #999999;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
body .nav__icon:active {
  filter: invert(83%) sepia(39%) saturate(4484%) hue-rotate(38deg) brightness(269%) contrast(101%);
}
body .nav .active {
  border-right: 2px solid #FC8F22;
  border-radius: 1px;
  /* Inside auto layout */
}

/*# sourceMappingURL=main.css.map */
