@font-face {
    font-family: 'Peyda';
    font-weight: normal;
    src: url(../fonts/peyda-light.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: lighter;
    src: url(../fonts/peyda-extralight.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: bold;
    src: url(../fonts/Peyda-Bold.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: bolder;
    src: url(../fonts/Peyda-ExtraBold.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: 100;
    src: url(../fonts/Peyda-Black.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: 400;
    src: url(../fonts/Peyda-Medium.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: 600;
    src: url(../fonts/Peyda-Regular.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: bold;
    src: url(../fonts/Peyda-SemiBold.ttf);
}

@font-face {
    font-family: 'Peyda';
    font-weight: 100;
    src: url(../fonts/Peyda-Thin.ttf);
}

$primary-color: #FC8F22;
$secondry-color: #999999;
$background-color: #010101;

body {
    // left: 0%;
    // right: 0%;
    // top: 0%;
    // bottom: 0%;
    background: $background-color;
    display: flex;
    justify-content: space-between;
    // box-shadow: -0.670833px 33.5417px 100.625px -3.35417px rgba(0, 0, 0, 0.15);

    margin: 0;
    padding: 0;
    font-family: 'Peyda';
    font-style: normal;
}

main {
    // background-color: aqua;
    // height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

//sidebar _____________________________________________________
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
    gap: 64px;
    width: 230px;
    height: 100vh;
    right: 0px;
    top: 0px;
    background: rgba(70, 70, 70, 0.2);
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    &__item {
        transition: all .3s;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 16px 0px 0px;
        gap: 16px;
        height: 32px;
        align-self: stretch;

        &:hover {
            cursor: pointer;
            // filter: invert(83%) sepia(39%) saturate(4484%) hue-rotate(38deg) brightness(269%) contrast(101%);
            // border-right: 2px solid $primary-color;
            // border-radius: 1px;
        }
    }

    &__desc {
        font-family: 'Peyda';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: $secondry-color;

    }

    .desc_active {
        color: $primary-color;
    }

    &__icon {
        width: 24px;
        height: 24px;
        box-sizing: border-box;
       
    }

    .active {
        border-right: 2px solid $primary-color;
        border-radius: 1px;
    }
}



//header _________________________________________________________________________________________________________
header {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #FC8F22;
    height: 160px;
    width: 100%;
}

.head {
    width: 100%;
    height: 64px;
    margin-left: 120px;
    margin-right: 40px;
    // background-color: #999999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        // margin-left: 120px;
        display: flex;
        align-items: center;
        gap: 10px;
        // justify-content: space-around;
    }

    &__right {
        display: flex;
        align-items: center;
        // width: 80%;
    }

    &__searchbox {
        // direction: r;
        background-color: rgba(70, 70, 70, 0.3);
        width: 100%;
        display: flex;
        height: 64px;
        justify-content: flex-end;
        align-items: center;
        // direction: rdtl;
        justify-content: space-between;
        border-radius: 16px;
    }

    &__searchButton {
        margin-right: 10px;
        width: 24px;
        height: 24px;

        // background-color: bisque;
    }

    &__searchText {
        color: white;
        text-align: right;
        width: 100%;
        padding: 8px 16px;
        font-size: 16px;
        font-family: "Peyda";
        border: none;
        background-color: transparent;
    }

    &__searchFillter {
        border-radius: 30px;
        background-color: rgba(70, 70, 70, 0.3);
        color: #ffffff;
        padding: 5px 15px;
    }

    &__line {
        // position: absolute;
        width: 2px;
        height: 24px;
        background-color: $secondry-color;
    }

    &__fillterButton {
        width: 24px;
        height: 24px;
        // margin-left: px;
    }

    &__searchFillterText {
        color: #ffffff;
        margin-left: 20px;
        // padding: ;
    }

    &__profile {
        width: 300px;
        display: flex;
        justify-content: center;
        color: $primary-color;
        font-family: 'Peyda';
        font-weight: 600;
        font-size: 16px;
    }

    &__headArrowDown {
        margin-right: 10px;
        margin-top: 8px;
        width: 16px;
        height: 8px;
    }

    &__username {}
}

.head__searchText:focus {
    border: none;
}

//main content section __________________________________________________________________________________________________
